{% extends "layout.njk" %} 
{% import "macros.njk" as macros %}

{% block head %}
  <title>Popcorn Nantes</title>
  {{ 
    macros.socialMetas(
      title="Popcorn : trouvez un développeur freelance à Nantes",
      description="Trouvez un développeur freelance à Nantes sans intermédiaire et sans frais.",  
      url=SITE_BASE_URL,
      image=SITE_BASE_URL + "/media/images/popcorn.jpg"
    ) 
  }}
{% endblock %}

{% block content %}
  <div class="container mx-auto text-center my-6">
    <h1 class="font-bold text-2xl">
    Trouvez un développeur freelance à Nantes</h1>
    <div><em>avec (vraiment) 0% de commission</em></div>
    {% include "searchBar.njk" %}
  </div>

  <div id="search-results" class="container mx-auto flex flex-wrap mb-6">
  </div>
  <div id="persons" class="container mx-auto flex flex-wrap mb-6">
    {% for person in persons %}
      {{ macros.personCard(person, withTechnologies=true) }}
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="/search.js"></script>
  <script>
   // @see https://www.andreaverlicchi.eu/lazyload/
    window.lazyLoadOptions = {
      elements_selector: ".lazy"
    };
    window.addEventListener(
      "LazyLoad::Initialized",
      function (event) {
          window.lazyLoadInstance = event.detail.instance;
      },
      false
    );
  </script>
  <script src="/lazyload.js"></script>
{% endblock %}
