{% macro socialMetas(title, description, url, image, type="website") %}
  <meta name="description" content="{{ description }}"/>
  <meta property="og:site_name" content="{{SITE_NAME}}"/>
  <meta property="og:url" content="{{ url }}"/>
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ url }}"/>
  <meta property="og:image" content="{{ image }}"/>
  <meta property="og:description" content="{{ description}}"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{ title }}"/>
  <meta name="twitter:description" content="{{ description }}"/>
  <meta name="twitter:image" content="{{ image }}"/>
{% endmacro %}
