<div class="relative mt-6">
  <input 
    id="search" 
    class="transition-colors duration-100 ease-in-out focus:outline-0 border border-transparent focus:bg-white focus:border-gray-300 placeholder-gray-600 rounded-lg bg-gray-200 py-2 pr-4 pl-10 block w-full appearance-none leading-normal ds-input" 
    type="text" 
    placeholder="Recherche : PHP, React, boutique en ligne, application ..." 
    autocomplete="off" 
    spellcheck="false" 
    style="position: relative; vertical-align: top;"
  >
  <pre 
    aria-hidden="true" 
    style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Inter var&quot;, system-ui, -apple-system, system-ui, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, &quot;Noto Sans&quot;, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;">
  </pre>
  <div class="pointer-events-none absolute inset-y-0 left-0 pl-4 flex items-center">
    <svg class="fill-current pointer-events-none text-gray-600 w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
    </svg>
  </div>
</div>