name: Popcorn Nantes

on:
  push:
    branches:
      - master
  schedule:
    - cron:  '0 6 * * *'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'

      - name: Build
        run: |
          npm install
          npm run generate

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          external_repository: popcorn-nantes/popcorn-nantes.github.io
          publish_branch: master
          publish_dir: ./dist
